<% if flash[:success] %>
  <div class="success" style="color:green"><%= flash[:success] %></div>
<% end %>
<%= render "login" %>

<h1 class='center'>Welcome to Smiling Wasabi!</h1>

<div class = 'row'>
  <% @genres.each do |genre|%>
    <div class = 'col s3 genre-tag offset-s1'>
      <h2><%= genre.name %></h2>
      <% genre.top5films.each.with_index do |film, index| %>
        <p class = 'movie-short'>
          <span class='bigger-text'><%= film.review_score %>%</span>
          <a href="films/<%= film.id %>"><%= film.title %></a>
        </p>
      <% end %>
    </div>
  <% end %>
</div>