<% if @review.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>

    <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :review, url: film_reviews_path, method: 'POST' do |f| %>
  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.label :rating %>:
  <%= f.check_box :rating %><br />

  <%= f.submit "Create" %>
<% end %>