<div class="container">

	<div class="side_bar">

		<div class="card">
      <div class="card-image">
        <img src=" <%= @film.movie_art %>">
        <span class="card-title">Card Title</span>
      </div>
    </div>

	</div>

		<h4> <%= @film.title %> </h4>

	<div class="full_review">
		Reviewer: <%= @review.user.name %>
		<p> <%= @review.content %> </p>
		<%= render partial: "/votes/vote", locals: { voteable: @review, vote_route: "/reviews/#{@review.id}"}  %>
	</div>

	<div class="comments">
	<% if current_user %>
    	<li> <%= link_to("Add Comment", new_review_comment_url(@film, @review)) %>
    <% end %>

    <ul class="collection">
    <li class="collection-item avatar">
      <% @comments.each do |comment| %>
        <img src="http://lorempixel.com/100/100/" alt="" class="circle">
   
         <span class="title"> <%= comment.user.name %> </span>

        </p>
        <br><br>
      <% end %>
    </li>
	</div>


</div>