<div class="container">

	<div class="side_bar">
		img_tag("<%= @film.movie_art %>", class: "art_thumbnail")
		<h4> <%= @film.title %> </h4>
	</div>
	
	<div class="full_review">
		Reviewer: <%= @review.user.name %>
		<p> <%= @review.content %> </p>
		<%= render partial: "/votes/vote", locals: { voteable: @review, vote_route: "/reviews/#{@review.id}"}  %>
	</div>

	<div class="comments">

	</div>


</div>